<input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} />
</div>
<div style="padding: 5px"  >
    <button type="button" style="padding: 5px 10px;border-radius: 5px;background-color:lightblue;"
            onclick="send('{{ widget.value }}')">发送激活邮件</button>

<script>
    function send(email) {
        fetch('/send_mail/'+email+"/").then(resp=>resp.json()).then(data=>{
            alert(data.msg);
        })
    }
</script>